<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>839945956917-l2cr0osvttsubs51cu3ukn2orbmjhgtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839945956917-l2cr0osvttsubs51cu3ukn2orbmjhgtl</string>
	<key>API_KEY</key>
	<string>AIzaSyC7D_BkDPH1JiXTJ_fu6qtuu0CDuyBBLAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>839945956917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sfb.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>chat-53c29</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-53c29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839945956917:ios:e84702af3efbfed2</string>
	<key>DATABASE_URL</key>
	<string>https://chat-53c29.firebaseio.com</string>
</dict>
</plist>